.resp {
    height: 40px;
}

button {
    background-color:yellowgreen;
    border: none;
    color: white;
    font-size: x-large;
    font-weight: 200;
    height: 40px;
    font-weight: normal;
}

form {
    background-color: whitesmoke;
    height: 200px;
    padding: 20px;
    width: 300px;
    display: flex;
    flex-flow: column;
}

input {
    height: 40px;
    margin: auto 0;
    background-color:whitesmoke;
    font-weight: normal;
    font-size: 12pt;
}
